+++
title = "Memo"
linkTitle = "Memo"
+++

{{< blocks/cover title="Welcome to My Page!" image_anchor="top" >}}
<div class="mx-auto">
	<p>
		This page keeps my technical notes.
	</p>
</div>
{{< /blocks/cover >}}


{{< blocks/section color="black" type="features">}}

{{% blocks/feature icon="fa-file" title="Documents" url="/docs/" %}}
Docs contains manuals for linux kernel development, development environment setup, etc.
{{% /blocks/feature %}}

{{% blocks/feature icon="fa-glasses" title="Blog" url="/blog/" %}}
Notes of source code reading for software related to your research or software of interest.

The blog is only in Japanese...
{{% /blocks/feature %}}

{{% blocks/feature icon="fab fa-github" title="Github" url="https://github.com/forest0923/memo" %}}
Memo repository for this page is here
{{% /blocks/feature %}}

{{< /blocks/section >}}
